<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="OsLab Console Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="OsLab Console" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="85"/>
    </logging>
</phpunit>
